<div class="container">
  <div class="row">
    <div class="col-sm">
      <mat-card class="mt-5 w-75">
        <form>
          <mat-card-content class="d-flex flex-column">
            <h1 class="text-center">Profile</h1>
            <mat-form-field class="w-100">
              <mat-label>First Name</mat-label>
              <textarea matInput placeholder="Change last name"></textarea>
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Last name</mat-label>
              <textarea matInput placeholder="Change first name"></textarea>
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Adress</mat-label>
              <textarea matInput placeholder="Nouvelle adresse..."></textarea>
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Postal code</mat-label>
              <input matInput placeholder="" value="">
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Country</mat-label>
              <input matInput placeholder="" value="">
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Email</mat-label>
              <input matInput placeholder="" value="">
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Confirm email</mat-label>
              <input matInput placeholder="" value="">
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button mat-raised-button color="primary" class="w-50">Change profile</button>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card class="mt-5 w-75">
        <form>
          <mat-card-content class="d-flex flex-column ">
            <h1 class="text-center">Password</h1>
            <mat-form-field class="w-100">
              <mat-label>Current password</mat-label>
              <input matInput placeholder="" value="" >
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>New Password</mat-label>
              <input matInput placeholder="" value="">
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Confirm password</mat-label>
              <input matInput placeholder="" value="">
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button mat-raised-button color="primary" class="w-50">Change password</button>
          </mat-card-actions>
        </form>
      </mat-card>

    </div>
  </div>
</div>


