<div class="identification-div mt-5">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <mat-card>
            <h1 class="text-center">Login</h1>
            <mat-card-content>
                <mat-form-field appearance="standard" class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email"
                        placeholder="Enter your email..." width="100%" required>
                    <mat-error *ngIf="email?.dirty && email?.invalid && !email?.errors?.['required']">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="submitted && email?.errors?.['required']">
                        Email is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="standard" class="w-100">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'"
                                    placeholder="Enter your password..." required>
                    <mat-error *ngIf="submitted && password?.invalid && password?.errors?.['required']">
                        Password is required
                    </mat-error>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button type="submit" mat-raised-button color="primary" class="w-100">Login</button>
                <a routerLink="/reset">Forgot your password ?</a>
            </mat-card-actions>
            <mat-checkbox>Remember me  !</mat-checkbox>
        </mat-card>
    </form>
</div>
