<mat-sidenav-container>
  <mat-sidenav class="side-nav" mode="side" opened>
    <mat-list role="list">
      <mat-list-item>
        <button mat-button [routerLink]="['main']" routerLinkActive="active">Account</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button [routerLink]="['send']" routerLinkActive="active">Send money</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button [routerLink]="['cards']" routerLinkActive="active">Cards</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button [routerLink]="['market']" routerLinkActive="active">Market</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button [routerLink]="['vault']" routerLinkActive="active">Safe vault</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button [routerLink]="['settings']" routerLinkActive="active">Settings</button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

